<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login form{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
        <header>
            {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </p> 
            {% else %}
            Hello !
            {% endif %}
        </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
